In [19]:
import pandas as pd

# Load the Excel file
file_path = "/Users/Zhuanz/Desktop/Project1/FinalProject/Chemicals_value added in manufacturing_.xlsx"
xls = pd.ExcelFile(file_path)

# Display sheet names to understand the structure of the file
xls.sheet_names

['API_NV.MNF.CHEM.ZS.UN_DS2_en_cs']

In [21]:
# Load the data from the sheet
df = pd.read_excel(xls, sheet_name='API_NV.MNF.CHEM.ZS.UN_DS2_en_cs')

# Display the first few rows to understand the structure
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Rename columns for clarity
df.columns = ['Country Name', 'Country Code'] + list(df.columns[2:])

# Drop the first row which contains duplicate column names
df = df.iloc[1:].reset_index(drop=True)

# Define a mapping of countries to continents
continent_map = {
    'Africa': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde',
               'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo', 'Djibouti',
               'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia',
               'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia',
               'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco',
               'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe',
               'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan',
               'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'],

    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei',
             'Cambodia', 'China', 'Cyprus', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel',
             'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia',
             'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestine',
             'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria',
             'Tajikistan', 'Thailand', 'Timor-Leste', 'Turkey', 'Turkmenistan', 'United Arab Emirates',
             'Uzbekistan', 'Vietnam', 'Yemen'],

    'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
               'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
               'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein',
               'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands',
               'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino',
               'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine',
               'United Kingdom', 'Vatican City'],

    'North America': ['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica',
                      'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala',
                      'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis',
                      'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States'],

    'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana',
                      'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],

    'Oceania': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand',
                'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

# Create a mapping dictionary for faster lookup
continent_lookup = {country: continent for continent, countries in continent_map.items() for country in countries}

# Assign continents to the dataframe
df['Continent'] = df['Country Name'].map(continent_lookup)

# Move the continent column to the first position
columns_order = ['Continent'] + [col for col in df.columns if col != 'Continent']
df = df[columns_order]

#

In [24]:
# 保存为 CSV 文件，不包含行索引
df.to_csv("output_file.csv", index=False)

In [25]:
df

,Continent,Country Name,Country Code,Country Code,Country Code,Country Code,Indicator Name,Indicator Code,1960,1961,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,NaN,Asia,Afghanistan,AFG,Afghanistan,AFG,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Africa Western and Central,AFW,Africa Western and Central,AFW,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Africa,Angola,AGO,Angola,AGO,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Europe,Albania,ALB,Albania,ALB,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,...,2.249300,2.642131,3.309604,2.301869,2.329969,2.170933,1.811221,2.370280,2.289626,NaN
4,NaN,Europe,Andorra,AND,Andorra,AND,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,NaN,NaN,Kosovo,XKX,Kosovo,XKX,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,...,0.159575,0.146641,0.144292,0.133895,0.133291,0.109062,0.114453,NaN,NaN,NaN
260,NaN,NaN,"Yemen, Rep.",YEM,"Yemen, Rep.",YEM,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,...,1.593739,1.593739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,NaN,Africa,South Africa,ZAF,South Africa,ZAF,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,...,6.996506,6.996506,6.996506,6.996506,6.996506,6.996506,6.996506,6.996506,6.996506,6.996506
262,NaN,Africa,Zambia,ZMB,Zambia,ZMB,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,...,9.919359,9.666462,10.083004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,NaN,Africa,Zimbabwe,ZWE,Zimbabwe,ZWE,Chemicals (% of value added in manufacturing),NV.MNF.CHEM.ZS.UN,NaN,NaN,...,NaN,0.331836,0.286670,0.286877,0.254196,0.785948,NaN,NaN,NaN,NaN